.footer{
    background-color: rgb(37, 36, 36);
    width: 100%;
    color: white;
    
   height: 200px;
}
.footer-img{
    color: white;
    object-fit: cover;
    height: 35px;
    border-radius: 10px;
    width: 35px;
}
.footer-logo{
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
}
.footer-text{
    display: flex;
    flex-direction: row;
    margin: 150px;
   padding: 40px;

}
.footer-smalltext{
    display: flex;
    flex-direction: column;
    padding: 25px;
   
    font-size: small;
   margin-left: 20px;
}
.vertical{
    border-left: 1px solid white;
    height: 150px;
    left: 70%;
    padding-left: 10px;
}
.footer-icons{
    display: flex;
    
  
   margin: 50px;
    margin-right: 40px;
    
    
}
.icons{
   flex: 2.1;
    margin: 20px;
    color: white;
    margin-bottom: 70px;
    
}